* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #001d10;
  animation: animateBackgroundcolor 10s linear infinite;
}

@keyframes animateBackgroundcolor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.loading {
  position: relative; /* 元の位置から外れるように配置できます。 */
  width: 250px;
  height: 250px;
}

.loading .blocks {
  position: absolute; /*元の位置とは関係なく位置を指定できる。ただし、最も近い上位要素を基準に位置が決定される。*/
  width: 8px;
  height: 25px;
  background: #050c09;
  left: 50%;
  border-radius: 8px;
  transform: rotate(calc(18deg * var(--i)));
  /* transformは与えられた要素を回転、拡大縮小、傾斜、移動することできます。rotate:回転 calc:計算 */
  transform-origin: 0 125px;
  /* 要素の座標変換 (transform) における原点を設定します。 */
  animation: animate 1.9s ease-in-out infinite;
  animation-delay: calc(0.05s * var(--i));
}

@keyframes animate {
  0%,
  50% {
    background: #050c09;
    box-shadow: none;
  }
  50.1%,
  100% {
    background: #0f0;
    box-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0, 0 0 60px #0f0,
      0 0 90px #0f0;
  }
}

h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  letter-spacing: 2px;
  animation: animateText 2s ease-in-out infinite;
  animation-delay: -1s;
}
@keyframes animateText {
  0%,
  50% {
    color: #050c09;
    text-shadow: none;
  }
  50.1%,
  100% {
    color: #0f0;
    text-shadow: 0 0 5px #0f0, 0 0 15px #0f0;
  }
}

a {
  position: relative;
  background: #0f0;
  color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  top: 100px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0, 0 0 60px #0f0,
    0 0 90px #0f0;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.1em;
}

#started {
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a:hover {
  width: 200px;
  transition-delay: 0.5s;
}

a::before {
  content: "";
  position: absolute;
  right: 25px;
  width: 12px;
  height: 12px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  transition: 0.5s;
}
a:hover::before {
  transform: rotate(45deg) translate(50px, -50px);
}

a::after {
  content: "";
  position: absolute;
  left: -50px;
  width: 12px;
  height: 12px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg) translate(-50px, 50px);
  transition: 0.5s;
}

a:hover::after {
  transform: rotate(45deg) translate(45px, -45px);
  transition-delay: 1s;
}

a span {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  transition: 0.5s;
  transform: translateX(-30px);
}

a:hover span {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.75;
  transform: translateX(10px);
}
